.deps
stamp-h1
Makefile
Makefile.in
configure
config.log
config.h
libtool
config.status
config.cache
autom4te.cache
aclocal.m4
.*.swp
.*.swo
.swp
.swo
tags
cscope.out
.fuse_*
.autogen-version
.autogen_git_output
*.o
*.lo
.libs
.dirstamp
*~
activate.sh
*.trs
*.log
*.test
