.deps
Makefile
Makefile.in
configure
config.log
config.h
config.h.in
libtool
config.status
config.cache
autom4te.cache
aclocal.m4
.*.swp
.swp
.swo
tags
cscope.out
.fuse_*
.autogen-version
.autogen_git_output
depcomp
install-sh
missing
stamp-h1
*.o
*_opt[1234]
samples/cholesky/output
samples/fib/fib
samples/routing/routing
